*{
    margin: auto;
    padding: 0;
    font-family:sans-serif;
}
section{
    padding: 70px;
    margin: auto;
}
.flex-container{
    display: flex;
   flex-wrap: wrap;
}
.navbar{
    background-color: white;  
}
.navigation{
    display: flex;
    margin: auto;
}
.nav-list{
    display: flex;  
}
.nav-list li{
    list-style: none;
   padding-top: 10px;
   margin: 10px;
   font-weight: 700;
}

.logo img{
    width: 150px;
}
.image{
    margin: auto;
    text-align: center;
    padding: 50px;
}
.image img{
    margin: auto;
   border-radius: 50%;
}
#Home{
    margin: auto;
    height: 100vh;
}
.sec1{
   text-align: center;
   font-weight: 900;
}
.sec1 h1{
    font-size: 40px;
   
    color:rgb(0, 225, 255);
}
.sec1 h3{
  color: rgb(9, 51, 238);
}
#Program{
    margin: auto;
}
.Programs{
    width: 100%;
    margin:auto;
   /* background-color: crimson; */
}

.heading{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: blue;
    margin: auto;
    padding: 70px;
}
.Programs p,li{
    font-size: 18px;
}
.p1{
    width: 400px;
    height: 530px;
    background-color: ghostwhite;
    border: 5px solid gray;
  
    text-align: center;
    border-radius: 16px;
    margin: auto;
}
.p1 img{
    width: 263px;
    height: 192px;
}
.p1 p{
    padding-top: 10px;
    margin: auto;
}
.demo{
    display: flex;
    padding: 35px;
    margin:auto;
   /* background-color: darksalmon; */
    justify-content: center;
    align-items: center;
}
.d1{
    width: 450px;
    height: 450px;
    margin:auto;
    padding: 10px; 
    color: blanchedalmond;
    background-color: black;
    border: 6px solid wheat;
    border-radius: 20%;
}
.demo-img{
    text-align: center;
}

.text{
    padding: 10px;
    margin: 15px;
    font-size: 18px;
    font-family:sans-serif;
}

.Mentor{
    font-size: 18px;
}
.form-group{
    font-size: 18px;
}
.form-control{
    padding: 18px;
}

.Submit{
    padding-top: 10px;
    margin: auto;
    color:rgb(133, 130, 130);  
    text-align: center;   
}

.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 18px arial, sans-serif;
    text-shadow:none;
}
footer{
    background-color: rgb(78, 76, 76);
    color: white;  
     margin:auto
}
.footer-content{
 padding-top: 25px;
}

.footer-content div{
    padding:auto;
}
.content{
  width: 33.3%;
}
.content p{
    font-size: 18px;
    font-family: sans-serif;
}

.address p{
    font-size: 20px;
    font-family: sans-serif;
}
@media (max-width: 700px) {
    .p1{
        width: 400px;
        height: 510px;
        background-color: ghostwhite;
        border: 5px solid gray;
  
        text-align: center;
        border-radius: 16px;
        margin: auto;
    }
    #Home{
        margin: auto;
    }
    .heading{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: blue;
        margin: auto;
        padding: 10px;
    }
    
}
@media (max-width:460px){
    .d1 img{
        width: 120px;
        margin: 50px;
    
    }
    .heading{
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        color: blue;
        margin: auto;
        padding: 10px;
    }
}

  body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
